---
layout: default
---
<!-- publication -->
{% if site.collection_option['publications']['visibility'] == true %}
<!-- PUBLICATIONS -->
<div class="ap-block">
    <p class="ap-subtitle">{{site.collection_option['publications']['label']}}</p>
    {% for publication in site.publications reversed %}
    <div class="ap-publication">
        <a class="ap-publication-title" href="{{publication.url}}">{{publication.title}}</a>
        <p class="ap-publication-year">{{publication.year}} {{publication.journal}}</p>
        <p class="ap-publication-excerpt">{{publication.excerpt}}</p>
    </div>
    {% endfor %}
</div>
{% endif %}
